/* =========================
   RESET & BASE
   ========================= */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #fff;
  color: #282b30;
}

/* Text default margin reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
